<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA3AIAAAUAAAABAQAAVXNlcnMAAAAMAAAAAQEAAG1vc3RhZmFheW1hbgcA
		AAABAQAATGlicmFyeQAUAAAAAQEAAEF1dG9zYXZlIEluZm9ybWF0aW9uIgAA
		AAEBAABVbnNhdmVkIFhjb2RlIERvY3VtZW50Lnhjd29ya3NwYWNlAAAUAAAA
		AQYAAAQAAAAUAAAAKAAAADgAAABUAAAACAAAAAQDAABNWQAAAwAAAAgAAAAE
		AwAA3XgAAAMAAAAIAAAABAMAAOR4AAADAAAACAAAAAQDAADmeAAAAwAAAAgA
		AAAEAwAA/YBcAAMAAAAUAAAAAQYAAJwAAACsAAAAvAAAAMwAAADcAAAACAAA
		AAAEAABBw1umrgHj8RgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
		CAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8D
		AAAAAQEAAE1hYwAIAAAABAMAAACwX6ASAAAACAAAAAAEAABBwd5EgAAAACQA
		AAABAQAAQzc2QzI3QzctMkRFMi0zMDFBLTkyQjQtNEQ4NTIyNzk3MDhCGAAA
		AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
		AQUAAOIAAAABAgAAZTllNTlhMmQwYTQ4NDNlNmQ1OTgzMGUzOWJkZDMyMDRj
		MTBmZTcyOTZkZTY4NTBlOGNmODUyOGE1NmRlNmUxNzswMDswMDAwODAwMDsw
		MDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5h
		cHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDBmOzAwMDAwMDAzMDAw
		MDc4ZTY7MDE7L3VzZXJzL21vc3RhZmFheW1hbi9saWJyYXJ5L2F1dG9zYXZl
		IGluZm9ybWF0aW9uAAAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAgAAAAAAA
		AAAFEAAA7AAAAAAAAAAQEAAAGAEAAAAAAABAEAAACAEAAAAAAAACIAAA3AEA
		AAAAAAAFIAAAVAEAAAAAAAAQIAAAZAEAAAAAAAARIAAAkAEAAAAAAAASIAAA
		cAEAAAAAAAATIAAAgAEAAAAAAAAgIAAAvAEAAAAAAAAwIAAA6AEAAAAAAAAB
		wAAAOAEAAAAAAAARwAAAFAAAAAAAAAASwAAASAEAAAAAAACA8AAA8AEAAAAA
		AAA=
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2021-08-01T21:45:00Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
